@import "../../public/lib/materialize/sass/materialize"
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic')

.test
	color: red

.height
	height: 200px

.red
	background-color: rgba(red, 0.6)
	color: white

.gray
	background-color: #333
	color: white
