<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="template")
		meta(name="keywords" content="template")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")
		title Test

		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="css/styles.css")
	body
		.app
			header.header.mdl-grid
				.mdl-cell.mdl-cell--2-col logo
				.mdl-cell.mdl-cell--2-col.mdl-cell--8-offset-desktop.mdl-cell--4-offset-tablet user menu
			section.toolbar.mdl-grid
				.mdl-cell.mdl-cell--2-col.mdl-cell--8-col-tablet.mdl-cell--4-col-phone transactions manager

				.mdl-cell.mdl-cell--8-col-desktop.mdl-cell--2-offset-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone

					.mdl-grid.toolbox.mdl-grid--no-spacing

						.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone
							.mdl-grid
								.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-tablet.mdl-cell--1-col-phone
									button.mdl-button.mdl-js-button.mdl-button--primary
										i.material-icons add
								.mdl-cell.mdl-cell--10-col.mdl-cell--7-col-tablet.mdl-cell--3-col-phone
									input.mdl-textfield__input(type="text" id="sample1" value="24.06.2016 - 24.07.2016")

						.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone
							.mdl-grid
								.mdl-cell.mdl-cell--5-col.mdl-cell--2-col-tablet.mdl-cell--1-col-phone
									input.mdl-textfield__input(type="text" id="sample1" value="Currency")
								.mdl-cell.mdl-cell--5-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
									input.mdl-textfield__input(type="text" id="sample1" value="Wallets")
								.mdl-cell.mdl-cell--2-col.mdl-cell--2-col-tablet.mdl-cell--1-col-phone
									button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored Submit

			section.categories.mdl-grid.mdl-grid--no-spacing
				.mdl-cell.mdl-cell--7-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
					.mdl-grid
						.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone
							h5.category-title All
							.category
						.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone
							h5.category-title Payments
							.category
						.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone
							h5.category-title Refunds
							.category
						.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone
							h5.category-title Payouts
							.category
				.mdl-cell.mdl-cell--5-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone.mdl-cell--hide-phone.mdl-cell--hide-tablet
					.mdl-grid
						.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
							h5.category-title Graph
							.category.graph
			section.workspace.mdl-grid.mdl-grid--no-spacing
				.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
					.mdl-grid
						.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
							.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
								.mdl-tabs__tab-bar
									a(href="#all-transactions-panel").mdl-tabs__tab.is-active All Transactions
									a(href="#payments-panel").mdl-tabs__tab Payments
									a(href="#refunds-panel").mdl-tabs__tab Refunds
									a(href="#payouts-panel").mdl-tabs__tab Payouts

								.mdl-tabs__panel.is-active#all-transactions-panel
									h2 All transactions
								.mdl-tabs__panel#payments-panel
									h2 Payments
								.mdl-tabs__panel#refunds-panel
									h2 Refunds
								.mdl-tabs__panel#payouts-panel
									h2 Payouts

		script(src="./lib/material-design-lite/material.min.js")
		script(src="js/app.js")
