<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="template")
		meta(name="keywords" content="template")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")
		title Test

		link(rel="stylesheet" type="text/css" href="css/styles.css")
	body
		.app
			.row.header
				.col.m2.s6
					h5 Logo
				.col.offset-m6.m4.s6
					h5 user menu
			.row.toolbar
				.col.l4.m12 Transaction's Manager
				.col.l8.m12
					.row
						.col.m2
							button.btn.waves-effect.waves-light Reload
						.col.m2
							input(type="text" value="24.06.2015-24.06.2016")
						.col.m2
							input(type="text" placeholder="Currency")
						.col.m2
							input(type="text" placeholder="Wallets")
						.col.m2
							button.btn.waves-effect.waves-light Filter
			.row.categories
				.col.s12.m12.l6
					.col.s3
						.category
							h6 All
					.col.s3
						.category
							h6 Payments
					.col.s3
						.category
							h6 Refunds
					.col.s3
						.category
							h6 Payouts
				.col.s12.m12.l6
					.col.s12
						.chart.category
							h6 Chart
			.row
				.col.s12.l4
					ul.tabs
						li.tab.col.s3
							a(href="#test1") Test 1
						li.tab.col.s3
							a(href="#test2") Test 2
						li.tab.col.s3
							a(href="#test3") Test 3
						li.tab.col.s3
							a(href="#test4") Test 4
				div#test1.col.s12 Test 1
				div#test2.col.s12 Test 2
				div#test3.col.s12 Test 3
				div#test4.col.s12 Test 4


		script(src="./lib/jquery/dist/jquery.js")
		script(src="./lib/materialize/dist/js/materialize.js")
		script(src="js/app.js")
