<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="template")
		meta(name="keywords" content="template")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")
		title Test

		link(rel="stylesheet" type="text/css" href="css/styles.css")
	body
		h1 Test
		p.test test
		.container0
			.row
				.col.m4.s12.gray
					h3 10
				.col.m4.s12.red
					h3 20
				.col.m4.s12.gray
					h3 30
			.row
				h5.center-align.hide-on-small-only.truncate This is an extremely long title that will be truncated. This is an extremely long title that will be truncated. This is an extremely long title that will be truncated.
				.card-panel.hoverable
					img.responsive-img.bill.circle(src="http://www.fillmurray.com/202/202")
					h5 Hoverable Card Panel
					p This is an extremely long title that wont be truncated.


		script(src="./lib/jquery/dist/jquery.js")
		script(src="./lib/materialize/dist/js/materialize.js")
		script(src="js/app.js")